User question:

{{question}}

Answer that question using the provided content below as a resource. Use this text and nothing else.
Give a short answer. No hallucinations.
If provided content doesn't help, say so, don't assume.

Provided content: {{retrieved_text}}
